.cat {
    color: var(--main-color);
}

.ti {
    font-weight: 600;
}

.card-body {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


@media (max-width: 700px) {
    .row {
        justify-content: center;
    }

    .row .card {
        flex: 0 0 48%;
        /* roughly 2 per row with small gap */
        max-width: 48%;
        margin: 1%;
    }
}