<div class="container">
    <div class="d-flex justify-content-end me-4">
        <div class="btn btn-danger mt-3 mb-1 ms-2 " (click)="clearCart()">Clear Cart</div>
    </div>

    <div class="cart-container">
        @for(item of cartItems; track $index) {
        <div class="cart-item">
            <img [src]="item.product.imageCover" alt="{{item.product.title}}" class="cart-image">

            <div class="cart-details">
                <h5 class="cart-title">{{item.product.title}}</h5>
                <p class="cart-price">{{item.price}} EGP</p>
                <button class="remove-btn" (click)="remove(item.product._id)">🗑 Remove</button>
            </div>

            <div class="cart-quantity">
                <button class="qty-btn" (click)="plusone(item.product._id)">+</button>
                <span>{{item.count || 1}}</span>
                <button class="qty-btn" (click)="minusone(item.product._id,item.count)">−</button>
            </div>
        </div>
        }
    </div>
</div>