<footer class=" text-light py-4  bottom-0 w-100">
    <div class="container pb-3">
        <h3>Get the FreshCart app</h3>
        <p>We will send you a link, open it on your phone to download the app.</p>
        <div class="d-flex gap-2">
            <input type="text" class="form-control w-75" placeholder="Enter your email">
            <button class="btn btn-primary">Share App Link</button>
        </div>
        <hr>
        <div class="d-flex">
            <p class="mb-0 mx-2"> Payment Partners</p>
            <div>
                <i class="fa-brands fa-cc-amazon-pay fa-2x"></i>
                <i class="fa-brands fa-cc-amex fa-2x"></i>
                <i class="fa-brands fa-cc-mastercard fa-2x"></i>
                <i class="fa-brands fa-cc-paypal fa-2x"></i>
            </div>
            <div class="d-flex ms-auto">
                <p class="mb-0 mx-2">Get deliveries with FreshCart</p>
                <div>
                    <i class="fa-brands fa-app-store-ios fa-2x"></i>
                    <i class="fa-brands fa-google-play fa-2x"></i>
                </div>
            </div>
        </div>
        <hr>
    </div>
</footer>